.content{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
}
.content h1{
    line-height: 1.5em;
    margin-top: 5%;
    font-weight:700; font-size:2rem; letter-spacing: 3px;
    color: rgb(13, 97, 51);
}
.mainsec{
    height: 479px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    letter-spacing: 1.3px;
    margin-left: 20%;
    margin-right: 20%;
}
.sec{
    margin-top:-3%;
}
.sec img{
    width: 20%;
}
#m1 h1{
    margin-top: 80px; margin-bottom:-5px;
    font-size: 1.2rem; font-weight: 500;
}
#m2 h1{
    margin-top: 80px; margin-bottom:-5px;
    font-size: 1.2rem; font-weight: 500;
} 
#m1 h3{
    margin-bottom:40px;
    font-size:0.9rem; font-weight: 400;
    line-height: 1.5em;
}
#m2 h3{
    margin-bottom:40px;
    font-size:0.9rem; font-weight: 400;
    line-height: 1.5em;
}
.mainsec .but{
    font-family: 'Noto Sans KR', sans-serif;
    background-color:white;
    border: 2.5px solid rgb(13, 97, 51); border-radius: 15px;
    cursor: pointer;
    width: 40%;
    margin-top: 20px;
    padding-top: 2px; padding-bottom: 5px; padding-left: 15px;
}
.mainsec .but>a{
    text-decoration: none;
    font-size:1rem; font-weight: 400; letter-spacing: 1.5px;
    color: rgb(13, 97, 51);
} 
.but:hover{
    background-color: rgb(13, 97, 51);
}
.but:hover a{
    background-color: rgb(13, 97, 51);
    color: white;
}
.mainsec .but>a:visited{
    text-decoration: none;
}
.space{
    width:100%;
    height: 52px;
    background-color: rgb(13, 97, 51);
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.space img{
    margin-top: 7px;
    height:40px;
    opacity: 80%;
}
.space:hover img{
    opacity: 20%;
}
   /* <div class = "content" id = "subcon">
        <article class = "mainsec" id = "m1">
            <h1>Region</h1>
            <h3>서울 각 구의 따릉이 정보를 지역별로 볼 수 있습니다</h3>
            <img src="map2.png">
            <button class = "but"><a href = "region.html"> go to detail ></a></button>
        </article>
        <article class = "mainsec" id = "m2">
            <h1>Sub-analysis</h1>
            <h3>서울 각 구의 따릉이 상세 정보를 볼 수 있습니다</h3>
            <img src="graph.png">
            <button class = "but"><a href = "sub.html"> go to detail ></a></button>
        </article>

    </div>*/