.title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
}
.title h1{
    line-height: 1.5em;
    margin-top: 5%;
    font-weight:700; font-size:2.5rem; letter-spacing: 3px;
    color: rgb(13, 97, 51);
}
.mainsec{
    height: 461px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    letter-spacing: 1.3px;
    margin-left: 20%;
    margin-right: 20%;
}
.sec{
    margin-top:-3%;
}
.sec img{
    width: 20%;
}
#m1 h1{
    margin-top: 70px; margin-bottom:-5px;
    font-size: 1.2rem; font-weight: 500;
}
#m2 h1{
    margin-top: 70px; margin-bottom:-5px;
    font-size: 1.2rem; font-weight: 500;
} 
#m1 h3{
    margin-bottom:40px;
    font-size:0.9rem; font-weight: 400;
    line-height: 1.5em;
}
#m2 h3{
    margin-bottom:40px;
    font-size:0.9rem; font-weight: 400;
    line-height: 1.5em;
}
.mainsec .but{
    font-family: 'Noto Sans KR', sans-serif;
    background-color:white;
    border: 2px solid rgb(13, 97, 51); border-radius: 15px;
    cursor: pointer;
    width: 40%;
    margin-top: 20px;
    padding-top: 2px; padding-bottom: 5px; padding-left: 12px;
}
.mainsec .but>a{
    text-decoration: none;
    font-size:1rem; font-weight: 400; letter-spacing: 1.5px;
    color: rgb(13, 97, 51);
} 
.but:hover{
    background-color: rgb(13, 97, 51);
}
.but:hover a{
    background-color: rgb(13, 97, 51);
    color: white;
}
.mainsec .but>a:visited{
    text-decoration: none;
}
.space{
    width:100%;
    height: 52px;
    background-color: rgb(13, 97, 51);
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.space img{
    margin-top: 7px;
    height:40px;
    opacity: 80%;
}
.space:hover img{
    opacity: 20%;
}
.about{
    height: 672px;
	width: 100%;
    display: flex;
    background-color: rgb(13, 97, 51);
	flex-direction: column;
	align-items:center;
	overflow: hidden;
}
.about h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 5rem;
	margin-left: -40%;
	margin-top:4%; margin-bottom: -0.1%;
	color: white;
    /*writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom: 10%; margin-left: 12.2%;*/
}
.about .about_con{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:60%; height: 400px; margin-top: -25px;
	justify-content: center;
	background-color: white;
}
#submenu{
	z-index:0;
	width: 15%;
	margin-left: 5%
}
#submenu>button{
    font-family: 'Noto Sans KR', sans-serif;
    border : 0px; background-color:white;
    font-size:1rem; font-weight: 300;
    margin-left:-8px;margin-right:-6px;
    height:40px; letter-spacing: 1.5px;
    box-sizing: border-box; 
    cursor: pointer;
}
#submenu a:hover{
    color: rgb(18, 113, 21);
    font-weight:400;
    /* border-bottom : 2px solid rgb(18, 113, 21); */
}

#submenu button>a{
    width: 140px; height: 40px;
    color: black; display:block;
    text-decoration: none;
}
#submenu button>a:visited{
    text-decoration: none;
}
#submenu #active a{
    font-weight:bold;
}
#submenu #active a:hover{
    color: rgb(18, 113, 21);
    /* border-bottom : 2px solid rgb(18, 113, 21); */
}

section{
    width:50%; margin-left: 10%;
    /* border: 3px solid black; */
	font-family: 'Nanum Gothic Coding', monospace;
}
#map_content article{
    text-align: left;
    line-height: 1.8em;
	letter-spacing: 0.5px;
	width: 200%;
}
#map_content p>a{
	color:rgb(18, 113, 21);
	text-decoration: none;
}
#map_content p>a:visited{
	text-decoration: none;
}
#map_content p>a:hover{
	color: rgb(13, 97, 51);
	font-weight:900;
}
.about h2{
	margin-left: 83%;
	margin-top: 2.9%;
	margin-bottom: px;
	text-align: right;
	font-size: 1.2rem;
	font-weight: 400;
	color: white;
	letter-spacing: 2px;
}
